/***
logo et titres: font-family: 'Shrikhand'
Textes: font-family: 'Roboto', sans-serif;
***/
/****** Couleurs ********/
$Primary:#9356DC;
$Secondary: #FF79DA;
$Tertiary: #99E2D0;
$Gray:#F2F2F2;
*{
    box-sizing: border-box;
}
  /******* Général *******/
  *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
  }
h1{
    font-family: 'Shrikhand', cursive;
    font-weight: 900;
}
h2{
    font-size: 22px;
    font-weight: 900;
}
header h1{
    font-size: 26px;
    text-align: center;
}
header .location{
    background-color: rgb(230, 229, 229);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 2px 3px 0px rgb(184, 184, 184);
& span{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    & i{
        text-align: center;
        transform: translateX(15px);
    }
& input{
    border: none;
    background-color: rgb(230, 229, 229);
    font-weight: 700;
    text-align: center;
}}}
.reservez{
    background-color: $Gray;
    height: 100%;
& h2{
    text-align: center;
    padding-top: 30px;
    width: 250px;
    margin-left: 50%;
    position: relative;
    transform: translateX(-50%);
    padding-bottom: 10px;
}}
header p{
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
}
.exploreRestaurants{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 15px 5px;
    width: 180px;
    border-radius: 25px;
    background: linear-gradient(170deg, $Secondary, $Primary);
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
}