/***
logo et titres: font-family: 'Shrikhand'
Textes: font-family: 'Roboto', sans-serif;
***/
/****** Couleurs ********/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/******* PAGE D'ACCUEIL *******/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 900;
}

h2 {
  font-size: 22px;
  font-weight: 900;
}

header h1 {
  font-size: 26px;
  text-align: center;
}

header .location {
  background-color: #e6e5e5;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: inset 0px 2px 3px 0px #b8b8b8;
  box-shadow: inset 0px 2px 3px 0px #b8b8b8;
}

header .location span {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

header .location span i {
  text-align: center;
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
}

header .location span input {
  border: none;
  background-color: #e6e5e5;
  font-weight: 700;
  text-align: center;
}

header p {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}

.reservez {
  background-color: #F2F2F2;
  height: 100%;
}

.reservez h2 {
  text-align: center;
  padding-top: 30px;
  width: 250px;
  margin-left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-bottom: 15px;
}

.reservez .exploreRestaurants {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: none;
  padding: 15px 5px;
  width: 180px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: #FFF;
  font-weight: 500;
  margin-bottom: 30px;
  cursor: pointer;
}

.reservez .exploreRestaurants:hover {
  background: linear-gradient(50deg, #9356DC, #FF79DA);
  -webkit-transform: scale(1.1) translateX(-45%);
          transform: scale(1.1) translateX(-45%);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.fonctionnement {
  margin: 10px;
}

.fonctionnement ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  counter-reset: number;
}

.fonctionnement ol li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 30px;
  margin: 25px 0px;
  counter-increment: number;
}

.fonctionnement ol li:before {
  content: counter(number);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  background-color: #9356DC;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.fonctionnement ol button {
  width: 70%;
  height: 60px;
  border-radius: 15px;
}

.fonctionnement ol li i {
  font-size: 18px;
  padding: 0px 15px;
}

/*** Photos des restaurants ***/
.column {
  background-color: #F2F2F2;
  padding: 10px;
  width: 100%;
}

.column img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.Restaurant_1,
.Restaurant_2,
.Restaurant_3,
.Restaurant_4 {
  height: 250px;
  width: 95%;
  border-radius: 20px;
  background-color: #FFF;
}
/*# sourceMappingURL=main.css.map */