@charset "UTF-8";
@import"./Abstracts/mixins";
@import"./Abstracts/variables";
@import"./Components/dist/button";
@import"./Layout/body";
@import"./Layout/footer";
@import"./Layout/header";
/***
logo et titres: font-family: 'Shrikhand'
Textes: font-family: 'Roboto', sans-serif;
***/
/****** Couleurs ********/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*** Loading-spinner ***/
.loading{
  @include loader;
}
.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-300px);
  & .rod{
    @include rods;
  }
}
.text-animation {
  position: absolute;
  transform: translateY(60px);
}
.text-animation h2 {
  color: #9356dc;
  letter-spacing: 8px;
  text-shadow: 0 0 20px #99e2d0;
}
.rod {
  @include rods;
&:nth-child(2) {
  animation-delay: 0.1s;
}
&:nth-child(3) {
  animation-delay: 0.2s;
}
&:nth-child(4) {
  animation-delay: 0.3s;
}
&:nth-child(5) {
  animation-delay: 0.4s;
}
&:nth-child(6) {
  animation-delay: 0.5s;
}
&:nth-child(7) {
  animation-delay: 0.6s;
}
&:nth-child(8) {
  animation-delay: 0.7s;
}
&:nth-child(9) {
  animation-delay: 0.8s;
}
&:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes rod {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}}
/******* PAGE D'ACCUEIL *******/
/*** Paramètres généraux ***/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
ol{
  list-style-type: none;
}
h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 900;
}
h2 {
  font-size: 22px;
  font-weight: 900;
}
/*** Header ***/
header h1 {
  font-size: 26px;
  text-align: center;
  padding: 8px 0px;
}
header .location {
  background-color: $color-light-gray;
  height: 40px;
  -webkit-box-shadow: inset 0px 2px 3px 0px $color-gray;
          box-shadow: inset 0px 2px 3px 0px $color-gray;
& span {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
      & :focus{
        outline: none;
      }
      & i {
          text-align: center;
          -webkit-transform: translateX(15px);
          transform: translateX(15px);
      }
      & input {
              border: none;
              background-color: $color-light-gray;
              font-weight: 700;
              font-size: 15px;
              text-align: center;
}}}
header p {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}
/*** Textes d'entête && bouton ***/
.reservez {
  background-color: #F2F2F2;
  height: 100%;
& h2 {
  text-align: center;
  padding-top: 30px;
  width: 250px;
  margin-left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-bottom: 15px;
}
& p{
  font-size: 16px;
}}
.exploreRestaurants {
  @extend %button-gradient;
  &:hover{
    @extend %hover;
  }
}
/*** Boutons Fonctionnement ***/
.fonctionnement{
  width: 100%;
  margin-bottom: 40px;
  & h2{
    margin: 30px 10px 15px;}
& ol{
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  counter-reset: number;
    & li{
      list-style-type: none;
      width: 95%;
      height: 30px;
      margin: 25px 0px;
      counter-increment: number;
      & :hover{
        background-color: #9256dc21;
        & > i{
          color: $color-primary;
        }
      }
    }
    & li:before{
      content: counter(number);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      background-color: $color-primary;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      transform: translateX(10px);
      color:$color-white;
 }
  & button{
    width: 100%;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 1px 6px 0px rgba(128, 128, 128, 0.514);
  }
  & li i{
    font-size: 18px;
    color: $color-gray;
    margin: 0px 30px 0px -20px;
}}}
/*** Main && Photos des restaurants ***/
.column {
  background-color: #F2F2F2;
  padding: 10px;
  width: 100%;
    & img {
      width: 100%;
      height: 200px;
      border-radius: 15px 15px 0 0;
      -o-object-fit: cover;
       object-fit: cover;
}}
.column{
  padding-top: 20px;
    & h2{
      padding: 20px 0px 20px;
    }
}
.Restaurant_1,
.Restaurant_2,
.Restaurant_3,
.Restaurant_4 {
  height: 270px;
  width: 100%;
  border-radius: 10px;
  background-color: $color-white;
  margin-bottom: 30px;
}
.Restaurant_1 img,
.Restaurant_2 img,
.Restaurant_3 img,
.Restaurant_4 img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.Restaurant_1:after,
.Restaurant_2:after{
  content:"nouveau";
  position:absolute;
  font-size: 12px;
  color: $color-green;
  background-color: $tertiary-color;
  padding: 5px 8px;
  border-radius: 3px;
  margin-left: 75%;
  transform: translateY(-245px);
  }
  .Restaurant_1 .text,
  .Restaurant_2 .text,
  .Restaurant_3 .text,
  .Restaurant_4 .text{
    margin: 10px 0px 0px 10px;
    & h3{
      font-size: 16px;
      margin-bottom: 5px;
    }
      & i{
        float: right;
        position: relative;
        font-size: 22px;
        margin-right: 20px;
        transform: translateY(-30px);
        cursor: pointer;
        &:hover{
          opacity: 0;
         }
      }
      & .over-flow{
        @include over-flow;
      }
      & p{
        font-size: 13px;
      }
  }
  /*** Footer ***/
  footer{
    @extend %footer;
  }

/****************** SCSS DES PAGES RESTAURANTS *****************/
.bold{
  font-weight: 700;
}
.header_pages{
  @extend %header_pages;
}
.representative_photo{
  width: 100%;
  height: 200px;
  & img{
    width: 100%;
    height: 200px;
    object-fit: cover;}
}
.menus{
  @extend %body_menus;
  &::after{
    content: '';
    position: absolute;
    background: $color-light-gray;
    width: 100%;
    height: 20px;
    bottom: 0;
    transform: translate(-15px,20px);
  }
  & .enseigne{
    & h2{
    display: inline-block;
    font-size: 20px;
    padding: 10px 0px 0px 5px;
    font-family: 'Shrikhand', cursive;
    }
    & i{
    float: right;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    &:hover{
      opacity: 0;
    }}
    & :nth-child(3){
      color: transparent;
      background-image: -webkit-linear-gradient(bottom,$color-primary,$secondary-color);
      background-clip: text;
      -webkit-background-clip: text;
      overflow: hidden;
      opacity: 0;
      transform: translateX(20px);
      transition: .8s ease;
      &:hover{
        opacity: 10; 
          }
  }}
  & h3{
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding:20px 0px 5px 5px;
    width: 50%;
    &::after{
      content: '';
      position: absolute;
      width: 35px;
      height: 2px;
      bottom: 0;
      left: 5px;
      background: $tertiary-color;
    }
    & .entrees{
      width: 100%;
      height: 100%;
    }}}
  .menus-enseigne{
    overflow: hidden;
   .menu-list{
     display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 15px;
      height: 100%;
      width: 100%;
      padding: 10px;
      background-color: $color-white;
      border-radius: 8px;
      margin-bottom: 10px;
      box-shadow: 0px 1px 6px $color-gray;
      cursor: pointer;
      text-overflow:ellipsis;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-280px) scale(0);
      &:nth-child(1){
        animation-name: cascade_1;
        animation-delay: 10ms;
        animation-delay: .5s;
        animation-duration: .3s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
      @keyframes cascade_1{
        100%{
          transform: translateY(0px) scale(1);
       }}
       &:nth-child(2){
        animation-name: cascade_2;
        animation-delay: 10ms;
        animation-delay: .6s;
        animation-duration: .4s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
       }
       @keyframes cascade_2{
         100%{
           transform: translateY(0px) scale(1);
        }}
        &:nth-child(3){
          animation-name: cascade_3;
          animation-delay: 10ms;
          animation-delay: .7s;
          animation-duration: .5s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
         }
         @keyframes cascade_3{
           100%{
             transform: translateY(0px) scale(1);
          }}
          &:nth-child(4){
            animation-name: cascade_4;
            animation-delay: 10ms;
            animation-delay: .7s;
            animation-duration: .6s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
          }
          @keyframes cascade_4{
            100%{
              transform: translateY(0px) scale(1);
           }} 
    & .items{
      width: 100%;
      text-overflow:ellipsis;
      white-space: nowrap;
      overflow: hidden;
      & h4,
      & p{
        font-size: 14px;
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 20px;
      }}
      & .checked{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        & span{
          font-size: 14px;
          &:after{
            content: '';
              position: absolute;
              background-color: $tertiary-color;
              border-radius: 0px 8px 8px 0px;
              width: 60px;
              height: 60px;
              transform: translateY(-50%);
              margin-left: 10px;
          }
        }
        & input{
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
        }
        & input{
          position: absolute;
          transform: translate(47px, -7px);
          width: 20px;
          height: 20px;
          background: $color-white;
          border-radius: 50%;
          z-index: 10;
          &:after{
            content: '';
            position: absolute;
            width: 6px;
            height: 12px;
            border-right: 2px solid $tertiary-color;
            border-bottom: 2px solid $tertiary-color;
            transform: translate(20px) rotate(100deg);
          }
        }
      }
      &:hover > .checked{
        transform: translateX(-50px);
        transition: .5s ease;
        & input:after{
          transform: translate(6px,2px) rotate(400deg);
        }
        }
      &:hover > .items p{
        width: 80%;
      }
  }}

   .add{
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 70px;
  }
  .commande{
    @extend %button-gradient;
    &:hover{
      @extend %hover;
    }}
/**************** Responsive tablette *****************/
@media  screen and(min-width:"768px") {
  .fonctionnement ol{
    display: flex;
    flex-direction: row;
    width: 100%;
    & li {
      margin-right: -6px;
      transform: translateX(-10px);
      & button{
        width: 220px;
      }
      & i{
        margin-right: 10px;
        margin-left: 5px;
      }
    }}
  
  .responsive{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin-right: 10px;
    
    & .Restaurant_1{
      grid-area: 1 / 1 / 2 / 2;
    }
    & .Restaurant_2{
      grid-area: 1 / 2 / 2 / 3;  
    }
    & .Restaurant_3{
      grid-area: 2 / 1 / 3 / 2;
    }
    & .Restaurant_4 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .Restaurant_1:after,
    .Restaurant_2:after{
      content:"nouveau";
      position:absolute;
      font-size: 12px;
      color: $color-green;
      background-color: $tertiary-color;
      padding: 5px 8px;
      border-radius: 3px;
      margin-left: 0%;
      transform: translate(280px,-245px);
      }
  }

footer ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
& :nth-child(1){grid-area: 1 / 1 / 2 / 2;}
& :nth-child(2){grid-area: 2 / 1 / 3 / 2; }
& :nth-child(3){grid-area: 1 / 2 / 2 / 3;}
& :nth-child(4){grid-area: 2 / 2 / 3 / 3;}
}}
/*# sourceMappingURL=main.css.map */