@mixin rods {
    width: 5px;
  height: 60px;
  background: linear-gradient(45deg, #99e2d0, #ff79da,#9356dc, #ff79da,#99e2d0);
  margin: 10px;
  animation: rod 1s linear infinite;
  border-radius: 20px;
  box-shadow: 3px 3px 20px #99e2d0;
}
@mixin loader {
  height: 300vh;
  width: 100%;
  transform: translateY(-600px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.698);
  backdrop-filter: blur(3px);
  z-index: 1;
  animation: loading .2s forwards;
  animation-delay: 3s;
   
@keyframes loading{
    100%{
      transform: scale(0) translateY(-1200px);
    }
  } 
}
@mixin over-flow {
  color: transparent;
  background-image: -webkit-linear-gradient(bottom,$color-primary,$secondary-color);
  background-clip: text;
  -webkit-background-clip: text;
  overflow: hidden;
  transform: translate(20px,10px);
  opacity: 0;
  transition: 1s ease;
  &:hover{
    opacity: 10; 
      }
  
}
