%header_pages{
    width: 100%;
    display: flex;
    align-items: center;
    & h1{
      width: 100%;
      text-align: center;
    }
    & a{
      position: absolute;
      margin-left: 25px;
    }
  }
%footer{
    background-color: $color-dark-gray;
    padding-left: 10px;
    padding-bottom: 20px;
    & h2{
      color: $color-white;
      font-family: 'Shrikhand', cursive;
      padding: 20px 0px 20px;
    }
    & ul li{
      color: $color-white;
      line-height: 25px;
      & i{
        width: 35px;
      }
      & a{
        color: $color-white;
      }
    }
  }